body{
    font-family: 'Montserrat';
    background-color: #E5E5E5;;
}

.chartContainer{
    display: flex;
    justify-content: stretch;
    gap: 28px;
    margin-left: 135px;
    margin-right: 130px;
}

.chart-shadow{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 750px;
    display : grid;
    justify-content: center;
    background-color: #FFFFFF;
}

.chart-title{
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    margin-top: 30px;
    color: #5d405c;
    display: flex;
    font-weight: 700;
}

.info{
    color:#19D7AA;
    margin-left: 12px;
}